.TodoShow{
    width: 70vw;
    margin: auto;
    text-align: center;
    padding-top: 1em;
    color:white;

    button {
    border: none;
    padding: 10px;
    border-radius:15px ;
    cursor: pointer;
    background-color: white;
    color: black;
    }

    .all{
    list-style-type: none;
    }
    .wholeTodo{
        border-radius: 50px;
        margin: 10px 0;
        padding: 10px 20px ;
        display: flex;
        align-items: center;
        background-color: #5dadf8;
    
    .SingleTodo{
        padding-right: 10px;
        font-size: 20px;
        font-weight: 500;
        flex: 1;
    }

    .edit,.delete,.done
    {
        margin-right: 2em;
    }
    .done .input1{
        height: 20px;
        width: 20px;
    }
}
}
